<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
            id="application"
            point="org.eclipse.core.runtime.applications">
            <application>
                  <run
                        class="com.tlcsdm.eclipse.rcp.example.rcp.Application">
                  </run>
            </application>
      </extension>
      <extension
            point="org.eclipse.ui.views">
            <category
                  name="Eclipse RCP Example"
                  id="com.tlcsdm.eclipse.rcp.example.rcp.category">
            </category>
      </extension>
      <extension
            point="org.eclipse.ui.perspectives">
            <perspective
                  name="Lighting"
                  class="com.tlcsdm.eclipse.rcp.example.rcp.LightingPerspective"
                  id="com.tlcsdm.eclipse.rcp.example.rcp.perspective">
            </perspective>
      </extension>
      <extension
            id="product"
            point="org.eclipse.core.runtime.products">
            <product
                  application="com.tlcsdm.eclipse.rcp.example.rcp.application"
                  name="%product.name">
                  <property
                        name="appName"
                        value="Eclipse RCP Example">
                  </property>
                  <property
                        name="aboutImage"
                        value="icons/eclipse150.png">
                  </property>
                  <property
                        name="aboutText"
                        value="%aboutText">
                  </property>
                  <property
                        name="windowImages"
                        value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png,icons/eclipse128.png,icons/eclipse256.png">
                  </property>
                  <property
                        name="applicationCSS"
                        value="platform:/plugin/com.tlcsdm.eclipse.rcp.example.rcp/styling.css">
                  </property>
                  <property
                        name="startupForegroundColor"
                        value="FFFFFF">
                  </property>
                  <property
                        name="startupMessageRect"
                        value="7,400,820,20">
                  </property>
                  <property
                        name="startupProgressRect"
                        value="0,420,820,15">
                  </property>
                  <property
                        name="preferenceCustomization"
                        value="plugin_customization.ini">
                  </property>
            </product>
      </extension>
      <extension
            point="org.eclipse.ui.activities">
            <activity
                  id="com.tlcsdm.eclipse.rcp.example.rcp.hideAnnotation"
                  name="activity.name">
                  <enabledWhen>
                        <with variable="true">
                              <equals value="false">
                              </equals>
                        </with>
                  </enabledWhen>
            </activity>
            <activityPatternBinding
                  activityId="com.tlcsdm.eclipse.rcp.example.rcp.hideAnnotation"
                  pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.*|org.eclipse.ui.ide/org.eclipse.ui.*|org.eclipse.ui.cheatsheets/org.eclipse.ui.*">
            </activityPatternBinding>
            <activityPatternBinding
                  activityId="com.tlcsdm.eclipse.rcp.example.rcp.hideAnnotation"
                  isEqualityPattern="true"
                  pattern="org.eclipse.ui.console/org.eclipse.ui.internal.console.ansi.preferences.AnsiConsolePreferencePage">
            </activityPatternBinding>
      </extension>
   <extension
         point="org.eclipse.ui.views">
       <view
            category="com.tlcsdm.eclipse.rcp.example.rcp.category"
            class="com.tlcsdm.eclipse.rcp.example.rcp.ConfigurationPart"
            id="com.tlcsdm.eclipse.rcp.example.rcp.ui.configuration"
            name="Eclipse Example Configuration"
            restorable="true">
      </view>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
            <menuContribution
                  allPopups="false"
                  locationURI="menu:org.eclipse.ui.main.menu">
                  <menu
                        id="com.tlcsdm.eclipse.rcp.example.rcp.menus.file"
                        label="File">
                        <command
                              commandId="org.eclipse.ui.file.restartWorkbench"
                              id="restart"
                              label="Restart"
                              style="push">
                        </command>
                        <command
                              commandId="org.eclipse.ui.file.exit"
                              id="quit"
                              label="Exist"
                              style="push">
                        </command>
                  </menu>
                  <menu
                        id="com.tlcsdm.eclipse.rcp.example.rcp.menus.window"
                        label="Window">
                        <command
                              commandId="com.tlcsdm.eclipse.rcp.example.rcp.menus.lightingview"
                              id="views"
                              style="push">
                        </command>
                  </menu>
                  <menu
                        id="com.tlcsdm.eclipse.rcp.example.rcp.menus.help"
                        label="Help">
                        <command
                              commandId="org.eclipse.ui.help.aboutAction"
                              id="about"
                              label="About"
                              style="push">
                        </command>
                  </menu>
            </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
            <command
                  id="com.tlcsdm.eclipse.rcp.example.rcp.menus.lightingview"
                  name="Show View">
            </command>
      </extension>
      <extension point="org.eclipse.ui.handlers">
            <handler commandId="com.tlcsdm.eclipse.rcp.example.rcp.menus.lightingview"
                  class="com.tlcsdm.eclipse.rcp.example.rcp.handler.OpenViewHandler" />
      </extension>
</plugin>