<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="headlessGeneration"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.tlcsdm.eclipse.rcp.example.headless.HeadlessGeneration">
         </run>
      </application>
   </extension>
   
   <extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="menu:com.tlcsdm.eclipse.rcp.example.rcp.menus.window?after=lightingview">
      <command
				commandId="org.eclipse.ui.window.preferences"
				label="Preferences"
				style="push">
      </command>
   </menuContribution>
</extension>
</plugin>
