<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="javafx">

    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://downloads.efxclipse.bestsolution.at/p2-repos/openjfx-21.0.6/"/>
            <unit id="openjfx.standard.feature.feature.group" version="0.0.0"/>
            <unit id="openjfx.swing.feature.feature.group" version="0.0.0"/>
            <unit id="openjfx.swt.feature.feature.group" version="0.0.0"/>
            <unit id="openjfx.media.feature.feature.group" version="0.0.0"/>
            <unit id="openjfx.web.feature.feature.group" version="0.0.0"/>
        </location>
    </locations>
</target>