<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.tlcsdm.eclipse.rcp.example.intro"
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.tlcsdm.eclipse.rcp.example.intro">
      </intro>
      <introProductBinding
            introId="com.tlcsdm.eclipse.rcp.example.intro"
            productId="com.tlcsdm.eclipse.rcp.example.rcp.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="intro/introContent.xml"
            id="com.tlcsdm.eclipse.rcp.example.introConfigId"
            introId="com.tlcsdm.eclipse.rcp.example.intro">
        <presentation home-page-id="homePageId" standby-page-id="homePageId">
            <implementation kind="html" />
        </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.tlcsdm.eclipse.rcp.example.rcp.menus.help?before=additions">
         <command
               commandId="com.tlcsdm.eclipse.rcp.example.intro.command.welcome"
               label="Welcome"
               style="push"
               icon="platform:/plugin/org.eclipse.ui.intro/icons/welcome16.png">
         </command>
         <separator name="com.tlcsdm.eclipse.rcp.example.rcp.menus.separator.welcome" visible="true" />
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command id="com.tlcsdm.eclipse.rcp.example.intro.command.welcome" name="Show Welcome" />
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.tlcsdm.eclipse.rcp.example.intro.command.welcome"
               class="com.tlcsdm.eclipse.rcp.example.intro.handler.ShowWelcomeHandler" />
   </extension>

</plugin>