<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="menu:com.tlcsdm.eclipse.rcp.example.rcp.menus.help?after=additions">
      <command
            commandId="org.eclipse.equinox.p2.ui.sdk.update"
            label="Check for Updates"
            style="push">
      </command>
   </menuContribution>
</extension>
</plugin>